/* 
  normalize css
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'DM Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/* invoices table */
.invoices__table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.invoices__table thead th{
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4b6eed;
  border: none;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}
.invoices__table  td {
  color: rgb(46, 44, 44);
  padding: 8px;
  text-align: center;
  font-size: 1rem;
  max-width: 150px;
  text-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.invoices__table tbody tr{ cursor: pointer; }
.invoices__table tbody tr:nth-child(even){background-color: #f2f2f2;}
.invoices__table tbody  tr:hover {background-color: #ddd;}
#header {
  display: flex;
  height: 70px;
  justify-content: flex-end;
  align-items: center;
  background-color: #4b6eed;
  padding: 10px 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  color: white;
}
#header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  color: white;
}
#header nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: .4s;
}
#content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  padding: 20px;
}