/*  invoices screen */
#invoices__screen {
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* button add */
#invoices__button {
  width: 200px;
  padding: 10px 0;
  background-color: #4b6eed;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  margin-bottom: 10px;
  transition: .4s;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

/* hover */
#invoices__button:hover {
  background-color: #405ecb;
}

#table__container {
  width: 100%;
  height: fit-content;
  overflow: auto;
  max-height: 90%;
}