/* screen */
#create__screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    min-height: calc(100vh - 110px);
    background-color: #f5f5f5;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 20px;
}

/*  title */
#create__title {
  font-size: 4rem;
  font-weight: 500;
  color: #2f2f2f;
  font-weight: bold;
}

/* form fields */
.form__field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    width: 90%;
    justify-self: center;
}

/* from group */
.form__group, #add__products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 90%;
    align-items: center;
}

/*  form */
#create__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

/*  inputs */
input:not([type="submit"]) {
    width: 100%;
    font-size: 1.1rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;   
    margin: 0;
}
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}
.form__field label {
    color: #2f2f2f;
    font-weight: bold;
    font-size: 1.3rem;
}
.form__field input[type="text"] {
    border: none;
    border-bottom: 1px solid #2f2f2f;
    outline: none;
    padding: 0.5rem;
    color: #2f2f2f;
}
.form__field input[type="date"] {
    border: none;
    border-bottom: 1px solid #2f2f2f;
    outline: none;
    padding: 0.5rem;
    color: #2f2f2f;
}
.form__field input[type="number"] {
    border: none;
    border-bottom: 1px solid #2f2f2f;
    outline: none;
    padding: 0.5rem;
    color: #2f2f2f;
}
/* button */
.form__button {
    height: 40px;
    width: 20%;
    min-width: 230px;
    justify-self: center;
    background-color: #2f2f2f;
    color: #f5f5f5;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 0 10px;
}
.form__button:hover {
    background-color: #1d1c1c;
}

/* products */
/* give me a container which list all the products of the invoice */
#create__products {
    width: 90%;
    height: 200px;
    margin: 1rem 0 ;
    overflow: auto;
}

/* container for the combox_popup */
#combobox{
    position: relative;
    width: 90%;
}
ul {
    position: absolute;
    top: 0;
    width: 100%;
    height: 250px;
    background-color: #f5f5f5;
    overflow: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    padding: 10px;
}
li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column ;

    transition: all 0.1s ease-in-out;
}

li:hover {
    background-color: #2f2f2f;
    color: #f5f5f5;

}

/*  product */
#add__products .form__button{
    width: 90%;
}
.delete__button {
    height: 40px;
    background-color: #dc2828;
    color: #f5f5f5;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 100px;
}
.delete__button:hover {
    background-color: #af2020;
}

/* media queries */
@media screen and (max-width: 700px) {
    #create__title {
        font-size: 2.5rem;
    }
    input:not([type="submit"]) {
        font-size: 1rem;
    }
    .form__field label {
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 370px) {
    #create__title {
        font-size: 2.1rem;
    }
}
